.home {
  display: flex;
}

.carousel {
  margin-top: 0.5rem;
}

.carousel img {
  height: 620px;
}

.carousel p {
  color: white;
}

.carousel h3 {
  color: white;
}

@media screen and (max-width: 960px) {
  .carousel {
    width: 80%;
    height: 40%;
  }

  .carousel img {
    height: auto;
    width: 100%;
  }
}
