.logIn {
  display: flex;
  justify-content: center;
}

.login__content {
  margin-top: 1rem;
  background: white;
  height: auto;
  padding-bottom: 2rem;
  min-width: 30rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.login__form {
  max-width: 75%;
  width: 100%;
  align-content: center;
}

.spinner {
  position: absolute;
  top: 50%;
}

.data__header {
  margin-top: 1rem;
  color: white;
  display: flex;
}

.data__header--right {
  margin-top: 0.2rem;
  flex: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.data__header--right__item {
  margin-right: 0.5rem;
}

.title__gallery {
  display: grid;
  max-height: 25rem;
  grid-template-columns: 20fr 65fr 15fr;
  column-gap: 5px;
}

.title__details {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 65fr 35fr;
}

.title__details__item {
  padding: 1rem 0;
  font-weight: 500;
}

.title__details__item__border {
  border-bottom: 1px solid #4e5253;
}

.title__details__item > a {
  text-decoration: none;
  color: #4d84cb;
  font-weight: 500;
  margin-left: 1rem;
}

.title__genres {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 20%;
  column-gap: 10px;
  text-align: center;
}

.page__container {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .page__container {
    max-width: 1024px;
  }
  .page__container--left,
  .page__container--right {
    max-width: calc(1024px + (100% - 1024px) / 2);
  }
  .page__container--right {
    margin-left: calc((100% - 1024px) / 2);
  }
  .page__container--left {
    margin-right: calc((100% - 1024px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .page__container {
    max-width: 1280px;
  }
  .page__container--left,
  .page__container--right {
    max-width: calc(1280px + (100% - 1280px) / 2);
  }
  .page__container--right {
    margin-left: calc((100% - 1280px) / 2);
  }
  .page__container--left {
    margin-right: calc((100% - 1280px) / 2);
  }
}
